---
---
{% include header.html title="Welcome!" %}

			<section id="intro" class="main style1 dark">
				<div class="content container shadow">
					<header style="padding-top: 1em">
						<h2><span class="fancy">Jenna & </span><span class="monospace">Tim</span></h2>
					</header>
					<div style="padding: 10em"></div>
					<footer style="padding-bottom: 1em">
						<span>are getting married!</span>
						<br />
						<a href="#details" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

			<section id="details" class="main style2 right fullscreen" >	
				<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">	
					<header><h2>Save the Date</h2></header>	
					<h3 class="typewriter">September 21<sup>st</sup>, 2019</h3>
					<br />
					<h3 class="typewriter">Indianapolis Art Center</h3>
					<h4 class="typewriter">Broad Ripple, Indianapolis, IN</h3>
					<footer style="font-size: 0.75em"><a href="https://www.flickr.com/photos/sergemelki/3502554274">Photo by Serge Melki</a></footer>
 				</div>
			</section>

{% include footer.html %}
