---
---
{% include header.html title="Welcome!" %}

			<section id="intro" class="main style1 dark">
				<div class="content container shadow">
					<header style="padding-top: 1em">
						<h2><span class="fancy">Jenna & </span><span class="monospace">Tim</span></h2>
					</header>
					<div style="padding: 10em"></div>
					<footer style="padding-bottom: 1em">
						<span>are getting married!</span>
						<br />
						<a href="#details" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

			<section id="details" class="main style2 right fullscreen" >	
				<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">	
					<header><h2>Save the Date</h2></header>	
					<h3 class="typewriter">September 21<sup>st</sup>, 2019</h3>
					<br />
					<h3 class="typewriter">Indianapolis Art Center</h3>
					<h4 class="typewriter">Broad Ripple, Indianapolis, IN</h3>
					<br />
					<h3>More details soon!</h3>
					<footer style="font-size: 0.75em"><a href="https://www.flickr.com/photos/sergemelki/3502554274">Photo by Serge Melki</a></footer>
 				</div>
			</section>

			<section id="aboutus" class="main style3 fullscreen" >	
				<div class="content container style3" style="background-color: rgba(255, 255, 255, 0.9);">	
					<header><h2>About Jenna & Tim</h2></header>	
					<span>This love story begins like all other great love stories before it... on the internet.  Thanks to the power of the world wide web, comparably nerdy individuals both originally from Northwest Indiana found each other in Indianapolis.</span>
					<br /><br />
					<span>The internet convinced our main characters they had enough in common to motivate a relatively awkward first date at a subpar restaurant.  Thankfully the awkwardness of the first date was not enough to discourage a second date. For her, it was because he donated his old car to the local NPR station, for him, it was because she had traveled around the world. The second date was much less awkward and thankfully lead to many more dates and a successful birthday trip to Nashville. So successful in fact, that soon after that our main characters decided to live together, combine their households, and start a zoo comprised of two cats and a dog.</span>
					<br /><br />
					<span>Since moving in together, they have traveled to Colorado, the Pacific Northwest, Ireland and Scotland. They have also visited delicious restaurants, explored museums and galleries, saw amazing concerts (one so great they got engaged during it), fell more in love with Indianapolis and each other.  They love each other so much, that they want to celebrate their love with you.  Jenna and Tim hope their nuptials give all their guests a glimpse into both their love for each other, as well as the city that they love.</span>
 				</div> 
			</section>

{% include footer.html %}
