---
---
{% include header.html title="Welcome!" %}

<section id="intro" class="main style1 dark">
	<div class="content container shadow">
		<header style="padding-top: 1em">
			<h2><span class="fancy">Jenna & </span><span class="monospace">Tim</span></h2>
		</header>
		<div style="padding: 10em"></div>
		<footer style="padding-bottom: 1em">
			<span>are getting married!</span>
			<br />
			<a href="#details" class="button style2 down">More</a>
		</footer>
	</div>
</section>

<section id="details" class="main style2 right fullscreen">
	<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
		<header>
			<h2>Ceremony Details</h2>
		</header>
		<h3 class="typewriter">September 21<sup>st</sup>, 2019</h3>
		<h3 class="typewriter">Ceremony begins at 4:30pm</h3>
		<h4 class="typewriter">Dinner & awkward dancing to follow</h4>
		<br />
		<h3 class="typewriter">Indianapolis Art Center</h3>
		<h4 class="typewriter">Broad Ripple, Indianapolis, IN</h3>
		<br />
		<h3>Please note</h3>
		<ul>
			<li>Plentiful parking at 67th and Ferguson Streets <a href="https://goo.gl/maps/NK1MsAZPViuHe67A9" target="_blank">(Street View)</a> and the East Parking Pavilion <a href="https://goo.gl/maps/2wnan5cwcAvd7ZHN6" target="_blank">(Street View)</a></li>
			<li>If weather cooperates, most of the wedding will occur outside.</li>
			<li>Please be mindful of shoes that could sink in the grass.</li>
		</ul>
			<footer style="font-size: 0.5em"><a href="https://www.flickr.com/photos/sergemelki/3502554274" target="_blank">Photo by
					Serge Melki</a></footer>
	</div>
</section>

<section id="aboutus" class="main style3 fullscreen">
	<div class="content box style3" style="background-color: rgba(255, 255, 255, 0.9);">
		<header>
			<h2>About Jenna & Tim</h2>
		</header>
		<span>This love story begins like all other great love stories before it... on the internet. Thanks to the power
			of the world wide web, comparably nerdy individuals both originally from Northwest Indiana found each other
			in Indianapolis.</span>
		<br /><br />
		<span>The internet convinced our main characters they had enough in common to motivate a relatively awkward
			first date at a subpar restaurant. Thankfully the awkwardness of the first date was not enough to discourage
			a second date. For her, it was because he donated his old car to the local NPR station, for him, it was
			because she had traveled around the world. The second date was much less awkward and thankfully lead to many
			more dates and a successful birthday trip to Nashville. So successful in fact, that soon after that our main
			characters decided to live together, combine their households, and start a zoo comprised of two cats and a
			dog.</span>
		<br /><br />
		<span>Since moving in together, they have traveled to Colorado, the Pacific Northwest, Ireland and Scotland.
			They have also visited delicious restaurants, explored museums and galleries, saw amazing concerts (one so
			great they got engaged during it), fell more in love with Indianapolis and each other. They love each other
			so much, that they want to celebrate their love with you. Jenna and Tim hope their nuptials give all their
			guests a glimpse into both their love for each other, as well as the city that they love.</span>
	</div>
</section>

<section id="staying" class="main style4 fullscreen">
	<div class="content box style4 left" style="background-color: rgba(255, 255, 255, 0.9);">
		<header>
			<h2>Staying in Indy</h2>
		</header>
		<span>Our guest list is pretty small and the room blocks we looked into only offered a discount of a few dollars
			(literally $3). You can usually find better discounts on hotel booking sites or even
			booking directly with the hotel of your choice. Instead of offering a minimal discount at one hotel, we
			figured our
			guests would be better off choosing what works best for them. Here are a few suggestions in a couple of
			price points.
		</span>
	</div>
	<div class="content box style4 right" style="background-color: rgba(255, 255, 255, 0.9);">
		<em>If you aren’t too familiar with Indianapolis, we recommend staying on the north side of town, it’s not too
			far from the venue and located off major highways for easy access.</em>
		<br /><br />
		<span>All these hotels and the others off the Meridian and Keystone exits of I-465 take roughly 15 minutes
			from the hotel to our wedding venue.</span>
		<ul>
			<li><a href="https://www.ihg.com/holidayinn/hotels/us/en/indianapolis/indml/hoteldetail">Holiday Inn
					Indianapolis Carmel</a></li>
			<li><a href="https://www.druryhotels.com/locations/indianapolis-in/drury-plaza-hotel-indianapolis-carmel">Drury
					Plaza Hotel Indianapolis Carmel</a></li>
			<li><a href="https://www.marriott.com/hotels/travel/indno-indianapolis-marriott-north/">Indianapolis
					Marriott North</a></li>
		</ul>
		<span>If you want to be even closer to the venue, or want a homey stay there are plenty of <a
				href="https://www.airbnb.com/s/Broad-Ripple--Indianapolis--IN--United-States/homes?refinement_paths%5B%5D=%2Fhomes&checkin=2019-09-20&checkout=2019-09-22&adults=2&children=0&infants=0&guests=0&query=Broad%20Ripple%2C%20Indianapolis%2C%20IN%2C%20United%20States&search_type=UNKNOWN&allow_override%5B%5D=&map_toggle=true&zoom=15&search_by_map=true&sw_lat=39.86483382554591&sw_lng=-86.15882553985591&ne_lat=39.8821251702389&ne_lng=-86.11625351837154&place_id=ChIJieq3SVNSa4gRudo5XR5Dojw&s_tag=RCnP726j">Airbnb’s</a>
			in Indy to choose from at a variety of price points as well. There are even a handful within walking
			distance from the Art Center!</span>
	</div>
</section>

<section id="thingsToDo" class="main style5 fullscreen">
	<div class="content box style5" style="background-color: rgba(255, 255, 255, 0.9);">
		<header>
			<h2>Things to Do in Indy</h2>
		</header>
		<span>We love Indianapolis and if you are looking for some things to do over the weekend (other than watch us
			get married), <a href="https://www.visitindy.com/indianapolis-trip-ideas">here are a few possible
				options</a>.</span>
	</div>
	<div class="row">
		<div class="column content box style5 left" style="background-color: rgba(255, 255, 255, 0.9);">
			<em><a href="https://www.visitindy.com/indianapolis-top-family-attractions">For the Kiddos!</a></em><br />
			<span>We recommend: The Indianapolis Children’s Museum is the biggest children’s museum in the world! It’s a
				huge space with everything from dinosaurs, hands on exhibits for all ages, and a new outdoor sports
				area!
				<br />
				Other places of note: the Indianapolis Zoo and the White River Canal.
			</span>
			<br /><br />
			<em><a href="https://www.visitindy.com/indianapolis-fanatics">Sports!</a></em><br />
			<span>We recommend: The Indianapolis Motor Speedway. There are tours that drive around the track (in a bus)
				and
				some let you get out at the line of bricks. <br />
				Other places of note: the NCAA Hall of Fame is located off the White River Canal, there is also a Colts
				game
				on Sunday the 22nd if that’s your jam! P.S. They’re playing the Falcons.
			</span>
		</div>
		<div class="column content box style5 right" style="background-color: rgba(255, 255, 255, 0.9);">
			<em><a href="https://www.visitindy.com/indianapolis-connoisseurs">Gettin Artsy!</a></em><br />
			<span>We recommend: Newfields (formerly the Indianapolis Art Museum)- the modern art is some of our
				favorites,
				and the grounds are a beautiful place to explore (or enjoy the beer garden). <br />
				Other places of note: the Eiteljorg Museum for Native American and Western Art (bonus- explore murals
				and
				outdoor sculpture right outside on the White River Canal!)
			</span>
			<br /><br />
			<em><a href="https://www.visitindy.com/indianapolis-foodies">Foodies!</a></em><br />
			<span>We LOVE the restaurants in Indy and it’s hard to go wrong with so many good options. <br />
				We recommend: the Eagle (amazing fried chicken), Mimi Blue’s Meatballs (delicious meatballs, we were
				skeptical at first but it’s great!- great vegan/vegetarian options too), Bluebeard or Hedge Row for a
				hip,
				trendy, night out, any of the local breweries or distilleries. </span>
		</div>
	</div>

</section>

<section id="rsvp" class="main style3 fullscreen">
	<div class="content box style3" style="background-color: rgba(255, 255, 255, 0.9);">
		<header>
			<h2>RSVP</h2>
		</header>
		<form role="form" id="rsvp-form">
			<div id="name1">
				<input type="text" name="firstname1" placeholder="First Name" />
				<input type="text" name="lastname1" placeholder="Last Name" />

				<div>
				<a class="button hidden" id="add2">+</a>
				</div>
			</div>

			<div id="name2">
				<input type="text" name="firstname2" id="firstname2" placeholder="First Name" />
				<input type="text" name="lastname2" id="lastname2" placeholder="Last Name" />

				<div>
				<a class="button" id="rm2">-</a>&nbsp;
				<a class="button" id="add3">+</a>
				</div>
			</div>

			<div id="name3" class="hidden">
				<input type="text" name="firstname3" id="firstname3" placeholder="First Name" />
				<input type="text" name="lastname3" id="lastname3" placeholder="Last Name" />

				<div>
				<a class="button" id="rm3">-</a>&nbsp;
				<a class="button" id="add4">+</a>
				</div>
			</div>

			<div id="name4" class="hidden">
				<input type="text" name="firstname4" id="firstname4" placeholder="First Name" />
				<input type="text" name="lastname4" id="lastname4" placeholder="Last Name" />

				<div>
				<a class="button" id="rm4">-</a>&nbsp;
				<a class="button" id="add5">+</a>
				</div>
			</div>

			<div id="name5" class="hidden">
				<input type="text" name="firstname5" id="firstname5" placeholder="First Name" />
				<input type="text" name="lastname5" id="lastname5" placeholder="Last Name" />

				<div>
				<a class="button" id="rm5">-</a>
				</div>
			</div>

			<br />
			<div>
				<label>Email address</label>
				<input type="email" name="email" placeholder="you@example.com" />
			</div>
			<br />
			<div>
				<label>Will you be there?</label>
				<input type="radio" name="attending" value="YES"> Yes <br />
				<input type="radio" name="attending" value="NO"> No
			</div>

			<br />
			<div id="addl" class="hidden">
				<div>
					<label>Would you be interested in attending dinner Friday evening?</label>
					<input type="radio" name="friday" value="YES"> Yes <br />
					<input type="radio" name="friday" value="NO"> No
				</div>

				<br />
				<div>
					<label>Anything we can do to make you dance?</label>
					<textarea name="etc"></textarea>
				</div>
				<br />
			</div>

			<button type="submit" class="button hidden" disabled="disabled" id="postForm" style="font-size: 20px">Submit</button>
		</form>

		<div class="hidden" id="rsvp-thank-you">
			<h2>Thank you!</h2>
		</div>
	</div>
</section>

{% include footer.html %}