<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ include.title }} | Jenna & Tim are getting married!</title>
		<link rel="apple-touch-icon-precomposed" href="images/ios-icon.png"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="The wedding page for Jenna Slesinski and Tim Jarzombek!" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/validation-functions.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<div class="animated"></div>
		<!-- Header -->

			<header id="header">

				<!-- Logo -->
				<h1 id="logo"><a href="/index.html">
					<span>
						<span class="fancy">Jenna & </span><span class="monospace">Tim</span>
					</span>
				</a></h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#rsvp">RSVP</a></li>
							<li><a href="/engagement_photos.html">Engagement Photos</a></li>
							<li><a href="https://www.zola.com/registry/theslezombeks" target="_blank" rel="noopener">Registry</a></li>
						</ul>
					</nav>

			</header>

			<section id="mobile_bar" class="main style1 dark mobile_only">
				<div class="content container small">
					<a href="/index.html">Home</a>
					<a href="#rsvp">RSVP</a>
					<a href="/engagement_photos.html">Engagement Photos</a>
					<a href="https://www.zola.com/registry/theslezombeks" target="_blank" rel="noopener">Registry</a>
				</div>
			</section>
			

